iot-server/data/.flows.json.backup
[
    {
        "id": "87285528a38291af",
        "type": "tab",
        "label": "Broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7dccb1f68188280",
        "type": "tab",
        "label": "Device logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8417347f132c4e4",
        "type": "tab",
        "label": "Fundamentals",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0b76a39d90ccce8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "76d2fb02b628109d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "965935d771273aba",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#04445d",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#04445d",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#04445d",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#077aa6",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#04445d",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "811a6546e47fcdff",
        "type": "ui_group",
        "name": "Default",
        "tab": "76d2fb02b628109d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd36df4b65e8f3c8",
        "type": "aedes broker",
        "z": "87285528a38291af",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "6e02e3b7845721b3"
            ],
            [
                "f00b425ef5dd37b8"
            ]
        ]
    },
    {
        "id": "6e02e3b7845721b3",
        "type": "debug",
        "z": "87285528a38291af",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "f00b425ef5dd37b8",
        "type": "debug",
        "z": "87285528a38291af",
        "name": "Publish",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "db57e2d4790c0d60",
        "type": "mqtt in",
        "z": "f7dccb1f68188280",
        "name": "",
        "topic": "/home/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f0b76a39d90ccce8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fc027fea4535f56b"
            ]
        ]
    },
    {
        "id": "632f12801897c185",
        "type": "mqtt out",
        "z": "f7dccb1f68188280",
        "name": "",
        "topic": "/home/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0b76a39d90ccce8",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "f46ce25a0e459f66",
        "type": "inject",
        "z": "f7dccb1f68188280",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "632f12801897c185"
            ]
        ]
    },
    {
        "id": "fc027fea4535f56b",
        "type": "debug",
        "z": "f7dccb1f68188280",
        "name": "topic subscription",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3c365e2b236bc20",
        "type": "inject",
        "z": "f7dccb1f68188280",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "632f12801897c185"
            ]
        ]
    },
    {
        "id": "a49463d9e59d5974",
        "type": "ui_switch",
        "z": "f7dccb1f68188280",
        "name": "",
        "label": "Light",
        "tooltip": "",
        "group": "811a6546e47fcdff",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "57003b26c5db5f13",
                "54811493d9685550"
            ]
        ]
    },
    {
        "id": "57003b26c5db5f13",
        "type": "debug",
        "z": "f7dccb1f68188280",
        "name": "Switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "54811493d9685550",
        "type": "mqtt out",
        "z": "f7dccb1f68188280",
        "name": "",
        "topic": "/home/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0b76a39d90ccce8",
        "x": 430,
        "y": 400,
        "wires": []
    }
]